@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');

body {
  font-family: 'Oleo Script Swash Caps', cursive;
  text-align: center;
  font-size: 30px;
  margin-top: 6em;
  color:#EA3C3C
}

h1 {
  animation: bounce .9s alternate infinite ease-in;
}



@media screen and (min-width:701px) {
	@keyframes bounce {
		0% {
			transform: translateX(50%);
		}
		100% {
			transform: translateX(-50%);
		}
	}
  
  h1 {
    color: #EA3C3C;
    display: inline-block; /*needed to trigger update */
  }
}

@media screen and (max-width:700px) {
	@keyframes bounce {
		0% {
			transform: translateY(-200%);
		}
		100% {
			transform: translateY(0);
		}
	}
  
  h1 {
    color: #40702C;
    display: block; /* needed to trigger update */
  }
}